.galeria {
    margin-top: 3rem
}

.galeria h1 {
    text-align: center;
    color: #000000;
    font-size: 2.2rem;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.kitimagem {
    display: flex;
    justify-content: space-around;
}

.kitimagem {
    margin-top: 1rem;
}

.imagem {
    width: 29%;
    position: relative;
    transition: all 0.4s ease;
}

.kitimagem+.kitimagem {
    margin-top: 0.5rem
}

.imagem:hover {
    transform: scale(1.1);
}

.img-galeria {
    width: 100%;
    border-radius: 10px;
    /* border: 5px inset gray; */
    filter: brightness(70%);
    /* filter: invert(40%); */
}

.conteudoimages {
    position: absolute;
    text-align: center;
    color: #ffffff;
    letter-spacing: 2px;
    text-shadow: 2px 2px black;
    font-size: 0.5rem;
}

.conteudoimages img {
    padding-top: 10%;
    width: 20%;
    height: 20%;
    filter: invert(100%);
}


/* conteudoimages img:hover{
   transform: scale(1.0);
} */

.alinhartexto {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 769px) {
    .galeria {
        margin-top: 6rem
    }
    .conteudoimages {
        font-size: 1rem
    }
    .conteudoimages img {
        width: 10%;
        height: 10%;
    }
    .kitimagem+.kitimagem {
        margin-top: 1.5rem
    }
}